@import url('https://fonts.googleapis.com/css2?family=Asul:wght@400;700&family=Montserrat:ital,wght@0,200;0,600;1,100;1,400&display=swap');


 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f10f;
    padding: 25px 10%;
}
.nav h1{
    font-size: 40px;
    font-weight: 600;
}
.aplication{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}
.search{
    width: 400px;
    padding: 20px;
    border: none;
    outline: none;
    font-size: 25px;
    border-bottom: 2px solid rgb(176, 173, 173);
}